@import "./base/reset";
@import "./base/fonts";
@import "./base/variables";
@import "./base/mixins";
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";


body {
    background: $backgroundCol;
    height: 100vh;
    width: 100%;
    @include font(300, 1rem, $primary-font, normal, 1.2, left, 0);
    
}

//HEADER HOME -----------------------------------------------------
header.header-home {
    height: 80vh;
    background-image: url("/images/homepage-header.jpg");
    background-size: cover;
    position: relative;

    h1 {
        position: absolute;
        color: $titleCol;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px 50px;
        @include font(700, 3rem, $primary-font, normal, 1.2, left, 0);
    }

    button {
        position: absolute;
        color: $titleCol;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $titleCol;
        padding: 15px 50px;
        @include font(300, 2rem, $primary-font, normal, 1.2, left, 0);
        border-radius: 20px;
        border: 3px solid ;
        box-shadow:  3px 5px $navbarCol ;
        a {
            text-decoration: none;
            color: $lightfontCol;

            &:hover {
                color: $navbarCol;
                text-decoration: none;
            }
        }

    }
}

//BODY HOME-------------------------------------------------------
.home-category {
    background: pink;
    @include make-col(3, 0px);
    height: 40vh;
    justify-content: center;

    article {
        width: 100%;
        border: 2px $lightfontCol solid;
    ;

        h2 {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include font(300, 2rem, $primary-font, normal, 1.2, left, 0);
            color: $titleCol;
            background: rgba($backgroundCol, 1);
            text-align: center;
            padding: 10px 0;
        }
            
    }
    
}

.home-product {
    width: 100%;
    @include make-col(2, 0px);
    flex-direction: row;
    height: 50vh;
    article {
        width: 50%;
        text-align: center;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            color: $titleCol;
            @include font(400, 3vh, $primary-font, normal, 50px, center, 0);
            border-radius: 20px;
            border: 3px solid ;
            padding: 10px 15px; 
            
        }

        h3 {
            color: $fontCol;
            @include font(400, 3vh, $primary-font, normal, 50px, center, 0);
            padding-top: 30px;


        }

        div {
            color: $fontCol;
            line-height: 20px;

        }
    }
}

//ABOUT PAGE -----------------------------------------------------

.about-section {
    height: auto;
    width: 100%;
    color: $fontCol;
     
    .about-2, .about-3 {
        display: flex;
        p {
            padding: 20px 40px;
            text-align: center;
        }
        
    }

    .about-2 {
        background: white;

    }

    

    .about-1 {
        text-align: center;
        padding: 10px 70px 50px 70px;
    }

    article {
        width: 100%;

    }
    aside {
        width: 40%;
    }
    img {
        width: 60%;
        height: 50vh;
        object-fit: cover;
    }

    h2 {
        color: $titleCol;
        @include font(400, 4vh, $primary-font, normal, 50px, center, 0);
        padding: 20px 0;

    }

}
//SHOP PAGE -------------------------------------------------------
.shop-categories {
    h2 {
        @include font(300, 2rem, $primary-font, normal, 1.2, center, 0);
        color: $titleCol;
        padding-top: 20px;
    
    }
}

.shop-categories ul {
    display: flex;
    justify-content: center;
    padding: 20px;

    li {
        display: inline;
    }

    label {
        display: inline-block;
        border: 2px solid $titleCol;
        background: white;
        color: $titleCol;
        border-radius: 20px;
        white-space: nowrap;
        margin: 3px 3px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        transition: all .2s;
        padding: 0.5em 0.8em;
        cursor: pointer;
        font-weight: 600;
    }
    input[type="checkbox"]:checked + label {
        background-color:$titleCol;
        color: white;
        transition: all .2s;
    }
    input[type="checkbox"] {
        display: absolute;
        opacity: 0;
    }

}

.shop-product {
    height: 100vh;
    padding: 0 50px;;

    ul {
        @include make-col(4, 30px);
        li {
            background: white;
            box-shadow: inset 0px 0px 20px -3px rgba(235,155,200,0.63);
            height: auto;
            border: 2px solid $navbarCol;
            border-radius: 25px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
                @include font(300, 1.5rem, $primary-font, normal, 1.2, center, 0);
                color: $titleCol;
            }

            p {
                padding: 10px;
            }
            .product-price {
                @include font(700, 1.2rem, $primary-font, normal, 1.2, center, 0);
            }

            .product-counter {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding-bottom: 10px;
            }

            .counter {
                background: white;
                border: 2px solid $titleCol;
                border-radius: 50%;
                padding: 10px;
                @include font(300, 1rem, $primary-font, normal, 1.2, left, 0);
                outline-width: 0;
                cursor: pointer;
            }

            .counter-add {
                border: 2px solid $titleCol;
                border-radius: 25px;
                background: $titleCol;
                padding: 10px;
                color: white;
                @include font(300, 1rem, $primary-font, normal, 1.2, left, 0);
                padding-left: 5px;
                outline-width: 0;
                cursor: pointer;


            }


            
        }
        .image-product {
            
            img {
                width: 100%;
                object-fit: cover;
                border-radius: 20px 20px 0 0 ;
            }
        }
        
    }
}

//Product -----------------------------------------------------
.body-product {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 50px;

    .image-gallery-slide .image-gallery-image{
        min-width: 50%;
        border: 5px solid #EB9BC8;
        border-radius: 20px;
    
    }

    .product-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        padding-left: 40px;

        
        h2 {
            @include font(300, 2rem, $primary-font, normal, 1.2, left, 0);
            color: $titleCol;
            padding-bottom: 20px;
        }

        .p {
            padding-bottom: 20px;
        }

        .product-price {
            @include font(700, 1.2rem, $primary-font, normal, 1.2, left, 0);
            padding-bottom: 20px;
        }

        .product-counter {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 60%;
            
        }

        .counter {
            background: white;
            border: 2px solid $titleCol;
            border-radius: 25px;
            padding: 10px;
            @include font(700, 1rem, $primary-font, normal, 0, left, 0);
            outline-width: 0;
            cursor: pointer;
            color: $titleCol;
            
        }

        .quantity-product { 
            padding: 10px;
            background: white;
            border-radius: 25px; 
        }

        .counter-add {
            border: 2px solid $titleCol;
            border-radius: 25px;
            background: $titleCol;
            padding: 10px;
            color: white;
            @include font(300, 1rem, $primary-font, normal, 1.2, left, 0);
            padding-left: 5px;
            outline-width: 0;
            cursor: pointer;


        }
    }


}

.back {
    text-decoration: none;
    padding: 20px;
    padding-top: 20px;
    color: $navbarCol
}


//Profiel -----------------------------------------------------
.profile-container {
    height: auto;
    width: 100%;


    .profile-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0 20px 0;

        .profile-data {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-content: center;
            width: 100%;
        }
        

        .profile-left, .profile-right {
            width: 30%;

            span {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                padding: 5px 0;
                width: 100%;

                label {
                    padding: 0 7px;
                }
    
                .user-data {
                    padding: 7px;
                    padding-left: 15px;
                    border-radius: 20px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    border: 2px solid #EB9BC8;
                    box-sizing: border-box;
                    background: white;
                }
            }

        }
        
        button.delete-profile {
            margin: 20px 60px;
            padding: 7px;
            border-radius: 20px;
            margin-bottom: 10px;
            margin-top: 10px;
            background: white;
            border: 2px solid $titleCol;
            color: $titleCol;
            font: 100%/1.4 Lato, Arial, sans-serif;
            font-size: 1rem;
            cursor: pointer;
            width: 10%;

            &:hover, &:focus {
                background: $navbarCol;
                color: white;
                border: none;
                box-shadow: 0 0.5em 0.5em -0.4em  #EB9BC8;
                transform: translateY(-0.25em);
                outline-width: 0;
            }

        }

        button {
            margin: 20px 60px;
            padding: 7px;
            border-radius: 20px;
            margin-bottom: 10px;
            margin-top: 10px;
            background: #EB9BC8;
            border: none ;
            color: white;
            font: 100%/1.4 Lato, Arial, sans-serif;
            font-size: 1rem;
            cursor: pointer;
            width: 20%;

            &:hover, &:focus {
                box-shadow: 0 0.5em 0.5em -0.4em  #04C4D9;
                transform: translateY(-0.25em);
                outline-width: 0;
        
        }
        }
    }
}
  
  @keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.react-confirm-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.react-confirm-alert-body {
    background: white;
    margin: 20px 60px;
    padding: 7px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid $navbarCol;
    color: $navbarCol;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    box-shadow: 0 5px 75px rgba(235,155,200,0.63);

    h1 {

        @include font(700, 1.2rem, $primary-font, normal, 1.2, left, 0);
    }
}

.react-confirm-alert-button-group {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5em;
    width: 100%;
}
.react-confirm-alert-button-group button:first-of-type {
    background:$navbarCol;
    padding: 7px;
    border-radius: 20px;
    border: 2px solid $navbarCol;
    color: white;
    cursor: pointer;
    width: 40%;
    outline-width: 0;

}

.react-confirm-alert-button-group button {
    background: white;
    padding: 7px;
    border-radius: 20px;
    border: 2px solid $navbarCol;
    color: $navbarCol;
    cursor: pointer;
    margin-top: 10px;
    width: 40%;
    outline-width: 0;

}

body.react-confirm-alert-body-element {
    overflow: hidden;
  }

.react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: react-confirm-alert-fadeIn .2s .2s forwards;
}

//HEADER PAGES------------------------------------------------------
header.header-pages {
    width: 100%;
    height: 200px;
    position: relative;
    text-align: center;
    // overflow: hidden;
    // object-fit: contain;

    h1 {
        color: $titleCol;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $lightfontCol;
        padding: 15px 50px;
        @include font(300, 2rem, $primary-font, normal, 1.2, left, 0);
        border-radius: 20px;
        border: 3px solid ;
    }

}

//LOGIN ----------------------------------------------
.login-section {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .error {
        color: $titleCol;
        font-weight: 700;
    }
    p {
        color: $navbarCol;
    }
    a {
        text-decoration: underline;
        color: $navbarCol;
        padding-bottom: 50px;

        &:hover {
            text-decoration: wavy;
            font-weight: 700;
        }
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 50px 0 20px 0;
    width: 20%;

    .css-yk16xz-control {
        border: 5px solid #EB9BC8;

    }

  
    .input-form {
        padding: 7px;
        padding-left: 15px;
        border-radius: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        border: 2px solid #EB9BC8;
        box-sizing: border-box;
        width: 100%;

        // &:focus {
        //     outline-width: 0;
        // }
    
    }

    button {
        margin: 20px 60px;
        padding: 7px;
        border-radius: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        background: #EB9BC8;
        border: none ;
        color: white;
        font: 100%/1.4 Lato, Arial, sans-serif;
        font-size: 1rem;
        cursor: pointer;

        &:hover, &:focus {
            box-shadow: 0 0.5em 0.5em -0.4em  #04C4D9;
            transform: translateY(-0.25em);
            outline-width: 0;
        
        }
    
    }
}

//REGISTER -------------------------------

.register-section {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        color: $navbarCol;
    }
    a {
        text-decoration: underline;
        color: $navbarCol;
        padding-bottom: 50px;

        &:hover {
            text-decoration: wavy;
            font-weight: 700;
        }
    }

    .register-form {
        padding: 50px 0 20px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;

        button {
            width: 10%;
            padding: 10px;
            border-radius: 20px;
            background: #EB9BC8;
            border: none ;
            color: white;
            font: 100%/1.4 Lato, Arial, sans-serif;
            font-size: 1rem;
            cursor: pointer;
    
            &:hover, &:focus {
                box-shadow: 0 0.5em 0.5em -0.4em  #04C4D9;
                transform: translateY(-0.25em);
                outline-width: 0;
            
            }
        
        }
    }
}

.register {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .register-left {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    .register-right {
        display: flex;
        flex-direction: column;
        width: 30%;

    }

    

}

.input-form {
    padding: 7px;
    padding-left: 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid #EB9BC8;
    box-sizing: border-box;


}




//NAVBAR ---------------------------------------------
nav {
    background: $navbarCol;
    display: flex;
    height: 60px;
    align-items: center;
    @include font(700, 3vh, $primary-font, normal, 1.8, left, 0);

    .selected {
        color: $titleCol;
    }
    

    section {
        display: flex;
        width: 25%;
        
        
        padding-left: 50px;
        
        img {
            width: 40px;
            
        }

        p {
            color: $lightfontCol;
            padding-left: 20px;
            
        }
    }
    

    ul {
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        li {
            a {
                color: $lightfontCol;
                &:hover {
                    color: $titleCol;
                    text-decoration: none;
                }
            }
        }
        
    }

    ul.nav-profile {
        width: 25%;
        display: flex;
        justify-content: space-evenly;

        a {
            color: $lightfontCol;
            &:hover {
                text-decoration: none;
                color: $titleCol;
            }
        }
    }       
}

//FOOTER --------------------------------------------
footer {
    background: $navbarCol;

    .footer-container { 
        display: flex;
        aside {
            display: flex;
            justify-content: space-evenly ;
            width: 50%;
        }
        
        
        article {
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }

    .maps {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        iFrame {
            width: 500px;
            height: 200px;
            justify-content: center;
        }
    }
    
    h2 {
        color: $backgroundCol;
        @include font(400, 1.2rem, $primary-font, normal, 50px, left, 0)
        
    }

    p { 
        margin-top: 0;
        color: $lightfontCol;
        line-height: 23px;;
    }

    span {
        color: $lightfontCol;
        line-height: 23px;;

        a {
            color: $lightfontCol;
        }
    }
    a {
        color: $lightfontCol;
        transition: background .5s  ease-in-out;

        &:hover {
            color: $titleCol;
            text-decoration: none;
        }
    }

    .footer-social {
        display: flex;
        justify-content: center;
    }

    .social {
        justify-content: center;
    }
}